# Django Environment Variables
# Copia este archivo a .env y reemplaza los valores

# Django Settings
DEBUG=True
SECRET_KEY=django-insecure-mf&$v2m+id9iphtz1w2ap*@2nv93eomfv$2ajtwjti_8eurz*a
ALLOWED_HOSTS=localhost,127.0.0.1

# Database (PostgreSQL - descomentar si usas PostgreSQL)
# DB_NAME=tu_base_de_datos
# DB_USER=tu_usuario
# DB_PASSWORD=tu_contraseña
# DB_HOST=localhost
# DB_PORT=5432

# OpenAI (para reportes con IA)
OPENAI_API_KEY=

# Libélula (sistema de pagos)
LIBELULA_APPKEY=11bb10ce-68ba-4af1-8eb7-4e6624fed729
LIBELULA_URL=https://api.libelula.bo
DJANGO_PUBLIC_URL=http://172.18.0.2:8080

# Google reCAPTCHA v2
# Obtén tu Secret Key en: https://www.google.com/recaptcha/admin/create
RECAPTCHA_SECRET_KEY=tu_secret_key_aqui

