# Docs for the Azure Web Apps Deploy action: https://github.com/Azure/webapps-deploy
# More GitHub Actions for Azure: https://github.com/Azure/actions

name: Build and deploy container app to Azure Web App - proyectosi2backenddocker

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read #This is required for actions/checkout

    steps:
      - uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Log in to container registry
        uses: docker/login-action@v2
        with:
          registry: registryfrontend.azurecr.io/
          username: ${{ secrets.AZUREAPPSERVICE_CONTAINERUSERNAME_0BD83B9DC70C42978F792B57CD898EF4 }}
          password: ${{ secrets.AZUREAPPSERVICE_CONTAINERPASSWORD_40F1769B750D467F8907BE8A40A362BF }}

      - name: Build and push container image to registry
        uses: docker/build-push-action@v3
        with:
          context: .
          push: true
          tags: registryfrontend.azurecr.io/${{ secrets.AZUREAPPSERVICE_CONTAINERUSERNAME_0BD83B9DC70C42978F792B57CD898EF4 }}/backend:${{ github.sha }}
          file: ./Dockerfile

  deploy:
    runs-on: ubuntu-latest
    permissions:
      id-token: write #This is required for requesting the JWT
      contents: read #This is required for actions/checkout

    needs: build
    
    steps:
      
      - name: Login to Azure
        uses: azure/login@v2
        with:
          client-id: ${{ secrets.AZUREAPPSERVICE_CLIENTID_D6E0E76C11914A358BB814125C8EEA85 }}
          tenant-id: ${{ secrets.AZUREAPPSERVICE_TENANTID_67EECF0E4898416A9445912E587C1BF0 }}
          subscription-id: ${{ secrets.AZUREAPPSERVICE_SUBSCRIPTIONID_A5B34898D5E14990961062557240C6B6 }}

      - name: Deploy to Azure Web App
        id: deploy-to-webapp
        uses: azure/webapps-deploy@v2
        with:
          app-name: 'proyectosi2backenddocker'
          slot-name: 'Production'
          images: 'registryfrontend.azurecr.io/${{ secrets.AZUREAPPSERVICE_CONTAINERUSERNAME_0BD83B9DC70C42978F792B57CD898EF4 }}/backend:${{ github.sha }}'
          